@page "/CalendarView"
@using BlazorCalendar
@using BlazorCalendar.CalendarComponenetsVM
@using BlazorCalendar.Models
@using System.Globalization
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Services

@inject TasksService TasksService

<div class="d-flex flex-row mb-2">
    <button type="button" @onclick="GoToday" class="btn">📅 Go Today</button>
    <button type="button" @onclick="@(m => ClicMonthNavigate(-7))" class="btn">🔼</button>
    <button type="button" @onclick="@(m => ClicMonthNavigate(7))" class="btn me-2">🔽</button>
    <input type="date" class="me-2" value="@(today.ToString("yyyy-MM-dd"))" @onchange="@(e => ChangeFirstDate(e.Value.ToString()))" />
    <select @bind="@PriorityDisplay" class="me-2">
        <option value="@PriorityLabel.Code" selected>priority Code</option>
        <option value="@PriorityLabel.Caption">priority Caption</option>
    </select>
    <select @bind="@TimeDivisionEnum" class="me-2">
        <option value="@TimeDivisionEnum.TwoHours">Two Hours</option>
        <option value="@TimeDivisionEnum.Hour">Hour </option>
        <option value="@TimeDivisionEnum.ThirtyMinutes">Thirty Minutes</option>
        <option value="@TimeDivisionEnum.FifteenMinutes">Fifteen Minutes</option>
    </select>
    <div>
        <input type="checkbox" @bind="draggable" id="is-draggable" />
        <label for="is-draggable">Draggable</label>
    </div>
</div>


@* <CalendarContainer 
    From="DateTime.Now" 
    To="DateTime.AddDays(7)"
    CurrentView="WeekView"
    CalendarViewModel="_calendarViewModel"
    />
 *@

<CalendarView      FirstDate="today"
                   TasksList="TasksList.ToList()"
                   DisplayedView="DisplayedView.Weekly"
                   TimeDivisionEnum="@TimeDivisionEnum"
                   Draggable="@draggable" >
</CalendarView>

<br />
<div class="console">@fakeConsole</div>

@code {

    protected override void OnInitialized()
    {
        TasksList = TasksService.GetAllTasks();
    }

    private DateTime today = DateTime.Today;
    private int months = 12;
    private List<Tasks> TasksList;
    private string fakeConsole = "";
    private BlazorCalendar.PriorityLabel PriorityDisplay = PriorityLabel.Code;
    private TimeDivisionEnum TimeDivisionEnum = TimeDivisionEnum.Hour;
    private bool draggable = true;

    private void ChangeFirstDate(string value)
    {
        if (string.IsNullOrEmpty(value)) return;
        today = DateTime.Parse(value.ToString());
    }

    private void GoToday()
    {
        today = DateTime.Today;
    }

    private void ClicMonthNavigate(int daysToAdd)
    {
        today = today.AddDays(daysToAdd);
    }

    private void OutsideCurrentMonthClick(int MonthAdded)
    {
        today = today.AddMonths(MonthAdded);
    }
}